/* globals */
:root {
    --primaryColor :  hsl(196deg 32% 65%);
    --accentColor : hsl(15deg 29% 51%);

    --darkField : hsl(24deg 3% 30%);
    --lightField : hsl(196deg 33% 97%);

    --inputField: hsl(180deg 23% 97%);
    --inputText: hsl(30deg 6% 33%);

    --bgColor : hsl(126deg 100% 99%);
    --dashBgColor : hsl(196deg 21% 93%);

    --lightText : hsl(30deg 6% 33%);
    --darkText : hsl(30deg 6% 33%);
    
    --headerTextColor: hsl(196deg 13% 49%);

    --darkIcons :hsl(196deg 25% 34%);
    --lightIcons :hsl(0deg 0% 97%);

    --scrollBars : hsl(196deg 19% 78%);

    --borderRadius: 2px;

    --primaryFont: 'Quicksand', sans-serif;
    --headingsFont: 'Domine', serif;

    --codeBg: hsl(71deg 22% 90%);
    --codeText: hsl(271deg 35% 44%);
}

*{
    box-sizing: border-box;
}
 
*:after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection{
    color: var(--lightField);
    background: var(--darkField);
    border-radius: var(--borderRadius);
}


/* scrollbars */

*::-webkit-scrollbar-track
{
	border-radius: 10px;
}

*::-webkit-scrollbar
{
	width: 5px;
    height: 5px;
	background: transparent;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: var(--scrollBars);
}

body{
    font-family: var(--primaryFont);
    line-height: 1.4em;
    font-size: var(--fontSize);
    background-color: var(--bgColor);
}

h1, h2, h3, h4, h5,h6{
    color: var(--darkText);
    font-family: var(--headingsFont);
    line-height: 1.4em;
    margin: 0;
}

p{
    color: var(--darkText);
    margin: 0;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--darkText);
}
a:hover{
    color: var(--accentColor);
}

/* Light overlays */
.lightOverlay{
    background: var(--lightField);
}
.lightOverlay p{
    color: var(--lightText);
}

.lightOverlay h1,.lightOverlay h2, .lightOverlay h3, .lightOverlay h4, .lightOverlay h5, .lightOverlay h6{
    color: var(--lightText);
}

/* global figcaption */
figcaption{
    padding: 0px 5px;
    font-style: italic;
    color: hsl(0deg 0% 54%);
}
figcaption span{
    color: var(--primaryColor);
    font-size: 0.85em;
}


button, .button{
    text-decoration: none;
    padding: 13px 20px;
    cursor: pointer;
    background: var(--primaryColor);
    color: #f0fbff;
    border-radius: var(--borderRadius);
    border: none;
    transition: all 0.2s ease-in;
}
button:hover, .button:hover{
    color: #f0fbff;
    transform: scale(1.05);
    transition: all 0.1s ease-out;
}
.btnAccent{
    background: var(--accentColor);
    color: hsl(15deg 100% 96%);
}
.btnAccent:hover{
    color: hsl(15deg 100% 96%);
}

.btnAccentHollow{
    background: transparent;
    color: var(--accentColor);
    border: 1px solid var(--accentColor);
}
.btnAccentHollow:hover{
    background: transparent;
    color: var(--accentColor);
    border: 1px solid var(--accentColor);
}

.btnNeutral{
    background: transparent;
}

.btnDanger{
    background: hsl(0deg 42% 54%);
}
.btnDisables{
    background: var(--lightField);
    cursor: disabled;
}
button.icoBtn{
    display: flex;
    padding: 12px;
    background: transparent;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: all 0.2s ease-out;
}
button.icoBtn:hover{
    background: var(--lightField);
    transition: all 0.1s ease-in;
}
.icoBtn svg{
    width: 29px;
    height: 29px;
    color: var(--darkIcons);
    vertical-align: middle;
}


/* Input elements */

input, textarea{
    padding: 0.6em;
    border: 1px solid var(--primaryColor);
    border-radius: var(--borderRadius);
    margin-bottom: 0.5em;
    background: var(--inputField);
    color: var(--inputText);
}

/* Loading Screen */
#dataLoading{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#dataLoading svg{
    fill: var(--primaryColor);
}

/* Styling for markdown display */
.fromMarkdown{

}

.fromMarkdown h1, .fromMarkdown h2, .fromMarkdown h3, .fromMarkdown h4, .fromMarkdown h5, .fromMarkdown h6{
    margin: 0.5em 0;
}

.fromMarkdown p{
    margin: 0.4em 0;
}
.fromMarkdown li, .fromMarkdown footer{
    color: var(--darkText);
}

.fromMarkdown pre{
    background-color: var(--codeBg);
    color: var(--codeText);
    padding: 10px 15px;
    border-radius: var(--borderRadius);
    overflow-x: auto;
}

.fromMarkdown a{
    border-bottom: 1px dashed var(--accentColor);
    color: var(--accentColor);
}
.fromMarkdown a:hover{
    border-bottom: 1px solid var(--accentColor);
}

.fromMarkdown blockquote{
    border-left: 0.5rem solid var(--accentColor);
    margin-left: 1.2rem;
    border-radius: 0.2rem;
    background-color: var(--lightField);
    padding: 5px;
    padding-left: 0.9rem;
}
.fromMarkdown table{
    border-collapse: collapse;
}
.fromMarkdown table thead{
    text-align: left;
}

.fromMarkdown table th, .fromMarkdown table td{
    padding: 0.7rem 1rem;
    border: 1px solid var(--darkField);
}