{{!-- the header all pages--}}
<header class="pageHeader">
    <a class="siteLogo" href="{{@website.url}}">

        {{!-- switch img and text as necessary --}}
        {{#if @website.logo}}
            <img src="{{@website.logo}}" alt="{{@website.name}}">
        {{/if}}
        <p class="siteTitle">
            {{@website.name}}
        </p>

    </a>
    {{!-- put search bar here --}}

    {{!-- the top Menu partials --}}
    {{> menu menus.mainMenu}}

</header>