{{!-- the top nav --}}
<nav class="topNav">
    <ul class="topNav-menu">
        {{#each items}}
            <li {{menuItemClasses}} >

            {{#if link}}
               <a href="{{menuUrl}}"
                  {{#if title}}
                     title="{{title}}"
                  {{/if}}

                  {{label}}
              </a>
            {{/if}}

            </li>

        {{/each}}

    </ul>
</nav>