{{!-- the single author page--unsed --}}
{{!-- TODO:  use the authors in the database to show the member page and their descriptions.  --}}

{{!-- html and head tags --}}
{{> head}}

{{!-- header-the top bar and nav --}}
{{> header}}

{{!-- main landing post contents --}}
<main>

</main>

{{!-- footer partials --}}
{{> footer}}