{{!-- the 404 page --}}
{{!-- html and head tags --}}
{{> head}}

{{!-- header-the top bar and nav --}}
{{> header}}

{{!-- main landing post contents --}}
<main>
    <h1>This is 404 page. You are looking at page that doesnot exist. Is it so?</h1>

</main>

{{!-- footer partials --}}
{{> footer}}