{{!-- the landing page --}}

{{!-- html and head tags --}}
{{> head}}

{{!-- header-the top bar and nav --}}
{{> header}}

{{!-- main landing page contents --}}
<main>

</main>

{{!-- footer partials --}}
{{> footer}}
