{{!-- the tag single page--unused --}}

{{!-- html and head tags --}}
{{> head}}

{{!-- header-the top bar and nav --}}
{{> header}}

{{!-- main landing post contents --}}
<main>

</main>

{{!-- footer partials --}}
{{> footer}}
