{{!-- the top nav --}}
<nav class="topNav-menu" aria-label="Sites Main navigation menu">
        {{#each items}}
            <div class="topNav-menu-item" aria-label="Sites Main navigation menu-items">

            {{#if link}}
               <a href="{{menuUrl}}"
                  {{#if title}}
                     title="{{title}}"
                  {{/if}} 
                  class="topNav-menu-item" aria-label="Sites Main navigation menu-items">
                  <span>
                     {{label}}
                  </span>
                </a>
            {{/if}}
            
        {{/each}}
</nav>