{{!-- the top nav --}}
<nav class="topNav-menu" aria-label="Sites Main navigation menu">
        {{#each items}}
<<<<<<< HEAD
=======
            <div class="topNav-menu-item" aria-label="Sites Main navigation menu-items">
>>>>>>> b793c722e3c52a554af84bb11d0130495e635f22

            {{#if link}}
               <a href="{{menuUrl}}"
                  {{#if title}}
                     title="{{title}}"
                  {{/if}} 
                  class="topNav-menu-item" aria-label="Sites Main navigation menu-items">
                  <span>
                     {{label}}
                  </span>
                </a>
            {{/if}}
            
        {{/each}}
</nav>